
  <img class="image-show" src=<%= @flat.picture_url %> alt=<%= @flat.name %>>
<div class="container">
  <div class="info">
    <div>
      <h2><%= @flat.name %></h2>
      <p><%= @flat.address %></p>
    </div>
    <div>
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
    </div>
    <div>
      <h3>Details</h3>
      <p>
        <i class="fa-solid fa-user-group"></i> <%= @flat.number_of_guests %>
        <%= "  " %><i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %>
      </p>
    </div>
  </div>
</div>
